*{
    font-family: poppins;
}
.container{
    display: flex;
    width: 100%;
    height: 700px;
}
.cont-l, .cont-r{
    height: auto;
    width: 50%;
    display: inherit;
    flex-direction: column;
    
}
.cont-r{
    background-color: yellow;
}
.logo, .link{
    display: inherit;
    align-items: center;
    height: 100px;
}
.logo h1{
    font-family: lobster;
}
.logo h1 span{
    color: yellow;
    font-family: lobster;

}
.link{
    justify-content: space-around;
    
    

}
#cart1{
    height: 30px;
    width: 30px;
}
a:link{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
