*{
    font-family: poppins;
}
.container{
    display: flex;
    width: 100%;
    height: 600px;
}
.cont-l, .cont-r{
    height: auto;
    width: 50%;
    display: inherit;
    flex-direction: column;
    
}
.cont-r{
    background-color: #f6b400;
}
.logo, .link{
    display: inherit;
    align-items: center;
    height: 100px;
}
.logo h1{
    font-family: lobster;
}
.logo h1 span{
    color: #f6b400;
    font-family: lobster;

}
.link{
    justify-content: space-around;
    
    

}
#cart1{
    height: 30px;
    width: 30px;
}
a:link{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.burger img{
    height: 500px;
}
#but1{
    margin-top: 100px;
    margin-left: 50px;
    height: 40px;
    width: 100px;
    border: 1px;
    background-color:#f6b400;
    border-radius: 30px 30px 0 30px;
    color: white;
}
.rain, .burger{
    display: inherit;
    flex-direction: column;
    height: 500px;
    
}
.rain {
   padding: 100px 100px 100px 50px;
}
.burger{
    justify-content: center;
    align-items: center;
}
.offer{
    height: 400px;
    width: auto;
    background-color: rgb(184, 171, 171);
}